<div class="grid grid-cols-4 gap-4 px-4">
        <div *ngFor="let data of database" class="flex justify-between">
            <div>
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
              <a routerLink="door">
                <img class="rounded-t-lg" src="{{data.img}}" alt=""/>
              </a>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2 text-center">{{data.name}}</h5>
              </div>
            </div>
          </div>
        </div>
</div>